html {
  font-size: 10px;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat.ttf) format("ttf");
  font-display: swap;
}
body {
  margin: 0;
  background-color: hsla(0, 0%, 95%, 1);
  font-family: "Montserrat", sans-serif;
}
.card {
  width: 101.8rem;
  height: 18.5rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 3em;
}
.card-title {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1em 0 0 1em;
  color: hsl(0, 0%, 31%);
  text-transform: uppercase;
  margin-bottom: 1em;
}
.row {
  display: flex;
  justify-content: space-between;
}
.column {
  flex-basis: 50%;
}
.section {
  width: 1046px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0.5em 1.5em;
  margin-bottom: 3em;
}
.section-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #4f4f4f;
  line-height: 30px;
}
