:root {
  --primaryFont: "Poppins", sans-serif;
  --headingFont: "Heebo", sans-serif;
  --footerfont: "Montserrat", sans-serif;
  --darkergray: hsla(0, 0%, 20%, 1);
  --softgray: hsla(0, 0%, 20%, 0.1);
  --lightblue: hsla(202, 71%, 52%, 1);
  --verydarkblue: hsla(248, 35%, 8%, 1);
  --darkgray: hsla(0, 0%, 31%, 1);
  --gray: hsla(0, 0%, 51%, 1);
  --lightgray: hsla(0, 0%, 74%, 1);
  --verylightgray: hsla(0, 0%, 95%, 1);
  --lightergray: hsla(0, 0%, 88%, 1);
  --green: hsla(145, 63%, 42%, 1);
  --white: hsl(0, 0%, 100%);
  --softred: hsla(0, 79%, 63%, 1);
  --hand: hsla(0, 0%, 28%, 0.21);
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: var(--primaryFont);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
.no-margin {
  margin: 0;
}
@media screen and (min-width: 400px) {
  .wrapper {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .row {
    justify-content: space-between;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6em;
}

.title {
  font-family: var(--headingFont);
  font-weight: 800;
  font-size: 2.4rem;
  color: var(--darkergray);
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 0.5em 2em;
    margin-bottom: 3em;
  }
  .title {
    font-size: 3.6rem;
  }
}
.nav {
  display: none;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  margin-right: 0.8em;
  font-weight: 500;
  color: var(--darkergray);
}
.nav__link--last {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .nav__link {
    font-size: 2.4rem;
  }
}
.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: hsla(0, 0%, 20%, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav-mobile--visible {
  visibility: visible;
  opacity: 1;
}
.menu-icon {
  z-index: 2;
}
.menu--header {
  padding-left: 0;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .nav {
    display: block;
  }
  .menu-icon {
    display: none;
  }
}
.hero {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 5em;
}
.hero__banner {
  margin-left: 1.8em;
}
.hero__phrase {
  max-width: 256px;
  font-size: 1.2rem;
  color: var(--lightblue);
}
.hero__title,
.hero__subtitle {
  margin-top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--darkergray);
  line-height: 36px;
}
.hero__title {
  max-width: 27.2rem;
}
.hero__subtitle {
  max-width: 227px;
  padding-right: 2em;
}
.image-container {
  width: 100%;
  margin-bottom: 2em;
}
.hero__image {
  width: 100%;
  border-radius: 18px;
}
.hero__text {
  max-width: 275px;
  font-size: 1.2rem;
  line-height: 18px;
  color: var(--darkgray);
  margin-bottom: 0;
}
@media screen and (min-width: 576px) {
  .hero__banner {
    margin-left: 3em;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 0.5em 2em;
  }
  .hero__phrase {
    font-size: 1.8rem;
  }
  .hero__title {
    max-width: 543px;
    font-size: 4.8rem;
    line-height: 72px;
  }
  .hero__subtitle {
    max-width: 366px;
    padding-right: 0;
    font-size: 4.8rem;
    line-height: 72px;
  }
  .hero__text {
    max-width: 366px;
    font-size: 1.8rem;
    line-height: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__banner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
.form {
  margin-top: 2em;
}
.form__question {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 0.5em;
}
.form__field {
  position: relative;
  max-width: 291px;
}
.form__label {
  width: 100%;
  display: inline-block;
}
.form__input {
  outline: none;
  border: none;
  width: 100%;
  height: 47px;
  border-radius: 12px;
  background-color: var(--verylightgray);
  padding: 0 7em 0 1.5em;
}
.form__input::placeholder {
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--lightgray);
}
.button {
  outline: none;
  border: none;
  width: 71px;
  height: 39px;
  border-radius: 12px;
  background-color: var(--lightblue);
  color: var(--verylightgray);
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 1.4rem;
}
.button--position {
  position: absolute;
  top: 0.28em;
  right: 0.4em;
}
@media screen and (min-width: 1024px) {
  .form__question {
    font-size: 1.4rem;
  }
  .form__field {
    width: 350px;
  }
}
.service {
  padding: 1em;
}
.service__title {
  margin-left: 1.5em;
  max-width: 259px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--darkergray);
}
@media screen and (min-width: 576px) {
  .service {
    padding: 0;
  }
  .service__title {
    margin-left: 0;
  }
}
.card {
  position: relative;
  max-width: 341px;
  height: 422px;
  padding: 2em 1.2em 2em 2em;
  margin-bottom: 1em;
}
.card--shadow {
  box-shadow: 0 10px 30px var(--softgray);
  border-radius: 24px;
}
.icon-container {
  width: 67px;
  height: 67px;
  background-color: transparent;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container--lightblue {
  background-color: var(--lightblue);
}
.icon-container--green {
  background-color: var(--green);
}
.icon-container--red {
  background-color: var(--softred);
}
.card__image {
  width: 27px;
}
.card__title {
  font-size: 2.4rem;
  color: var(--darkergray);
}
.card__text {
  max-width: 273px;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--darkgray);
  line-height: 24px;
}
.card__link {
  text-decoration: none;
  color: var(--gray);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 42px;
  border-radius: 12px;
  background-color: var(--lightergray);
}
.card__hand {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 37px;
  height: 54px;
  font-size: 4rem;
}
.fa-hand-point-up {
  color: var(--hand);
  filter: drop-shadow(1px 1px 2px 3px var(--darkergray));
}

.gallery {
  padding: 0.7em;
  margin-bottom: 3em;
}
.gallery__title {
  max-width: 267px;
  margin-left: 1.5em;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 36px;
  color: var(--darkergray);
}
.gallery__image {
  border-radius: 12px;
  opacity: 80%;
}
@media screen and (min-width: 576px) {
  .gallery {
    padding: 0;
  }
  .gallery__title {
    margin-left: 0;
  }
  .screenshot {
    width: 50%;
    max-width: 545px;
  }
  .gallery__image {
    width: 98%;
  }
}
.caption__type {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--gray);
}
.caption__name {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--darkergray);
  margin-top: 0;
}
.gallery__link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--lightblue);
  font-weight: 500;
}

.team {
  padding: 0.7em;
  margin-bottom: 5em;
}
@media screen and (min-width: 768px) {
  .team {
    padding: 0;
  }
  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column--40 {
    flex-basis: 40%;
  }
  .column--60 {
    flex-basis: 60%;
  }
}
.team__title {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--softred);
  margin-bottom: 0.5em;
}
.team__subtitle {
  margin-top: 0;
  max-width: 280px;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 54px;
  color: var(--darkergray);
}
.team__text {
  max-width: 273px;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--darkgray);
}
.photos {
  display: flex;
  gap: 0.8em;
}
.column-55 {
  flex-basis: 55%;
}
.column-55--flex {
  display: flex;
  align-items: center;
}
.column-45 {
  flex-basis: 45%;
}
.container-photo {
  width: 100%;
  margin-bottom: 1em;
}
.photo {
  width: inherit;
  border-radius: 24px;
}
.photo--w90 {
  width: 90%;
}

.testimonial {
  max-width: 400px;
  padding: 0.5em;
  margin-bottom: 4em;
}
.testimonial__text {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 36px;
  color: var(--darkergray);
  margin-bottom: 2em;
}
@media screen and (min-width: 576px) {
  .testimonial {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial {
    max-width: 937px;
  }
  .testimonial__text {
    font-size: 3.6rem;
    line-height: 54px;
    margin-bottom: 0.5em;
  }
}

.author {
  display: flex;
  align-items: center;
}
.author__photo {
  width: 82px;
  height: 82px;
  border-radius: 12px;
}
.author__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5em;
}
.author__name {
  font-size: 2.4rem;
  line-height: 36px;
  font-weight: 500;
  color: var(--darkergray);
  margin-bottom: 0;
}
.author__job {
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 500;
  color: var(--gray);
  margin-top: 0.7em;
}

.footer {
  background-color: var(--verydarkblue);
  color: var(--white);
  margin-top: auto;
}
.nav--footer {
  display: block;
  padding-top: 1em;
  margin-bottom: 4em;
}
.menu {
  list-style: none;
}
.menu__item {
  margin-bottom: 0.8em;
}
.menu__link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.8rem;
}

.brand {
  padding-left: 4rem;
  margin-bottom: 3em;
}
.brand__title {
  font-family: var(--headingFont);
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--verylightgray);
  margin-bottom: 0.3em;
}
.social {
  display: flex;
}
.social__item {
  margin-right: 11px;
}
.social__link {
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__icon {
  border-radius: 5px;
}

.contact {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
.contact__title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 0;
}
.form--footer {
  margin-top: 0.2em;
  margin-bottom: 8em;
}

@media screen and (min-width: 400px) {
  .menu--footer {
    padding-left: 0;
  }
  .brand {
    padding-left: 0;
  }
  .contact {
    margin: 0;
  }
}
@media screen and (min-width: 576px) {
  .footer {
    padding-top: 2em;
  }
  .row--footer {
    justify-content: space-between;
  }
  .column--33 {
    flex-basis: 33.3%;
  }
  .brand__title {
    margin-top: 0;
  }
  .nav--footer {
    padding-top: 0;
  }
  .menu--footer,
  .contact__title {
    margin-top: 0;
  }
}
.copyright {
  font-family: var(--footerfont);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--verylightgray);
}
.coder {
  font-weight: 700;
  text-decoration: underline;
}
