:host {
  --bar-percent: 0%;
}

.skill {
  padding: 0.5em;
}
.item {
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.tech {
  font-size: 1.6rem;
  padding-left: 0.8em;
  font-weight: 500;
  color: hsl(0, 0%, 31%);
  line-height: 20px;
  margin: 0;
}
.bar,
.bar::after {
  position: relative;
  width: 34.8rem;
  height: 0.9rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 77%);
  overflow: hidden;
}
.bar::after {
  content: "";
  position: absolute;
  left: -34.8rem;
  background-color: hsl(214, 84%, 56%);
  border-radius: 12px;
  transition: all 0.8s ease-in-out;
  animation: bar-fill 2s ease-in-out forwards;
}
.bar-10:after {
  --bar-percent: 10%;
}
.bar-20:after {
  --bar-percent: 20%;
}
.bar-30:after {
  --bar-percent: 30%;
}
.bar-40:after {
  --bar-percent: 40%;
}
.bar-50:after {
  --bar-percent: 50%;
}
.bar-60:after {
  --bar-percent: 60%;
}
.bar-70:after {
  --bar-percent: 70%;
}
.bar-80:after {
  --bar-percent: 80%;
}
.bar-90:after {
  --bar-percent: 90%;
}
@keyframes bar-fill {
  to {
    transform: translateX(var(--bar-percent));
  }
}
