:root {
  --background: hsla(270, 4%, 9%, 1);
  --grayverylighter: hsl(0, 0%, 95%);
  --graylighter: hsla(0, 0%, 66%, 1);
  --gray: hsla(0, 0%, 51%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --shadow: hsla(0, 0%, 0%, 0.25);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  background: var(--background);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
  border: none;
  outline: none;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em;
}
@media screen and (min-width: 768px) {
  .header {
    width: calc(95% - 1rem);
    margin-left: auto;
    margin-right: auto;
  }
}

.logo {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid var(--graylighter);
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--gray);
  box-shadow: inset 0 -2.2px 2px var(--graylighter);
  opacity: 60%;
  font-family: "Crimson Pro", serif;
  margin-left: 0.5em;
}
.logo:active {
  border: 2px solid var(--white);
}
.icon-menu {
  font-size: 4rem;
  color: var(--grayverylighter);
}
@media (hover: hover) {
  .logo:hover {
    cursor: pointer;
    color: var(--white);
  }
  .icon-menu:hover {
    cursor: pointer;
    color: var(--gray);
    border: 1px solid var(--white);
  }
}
.navbar {
  display: none;
}
.navbar-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background);
  z-index: 10;
  transform: translateX(110%);
  transition: transform 0.6s ease-in-out;
}
@media screen and (min-width: 768px) {
  .navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .icon-menu {
    display: none;
  }
  .navbar-mobile {
    visibility: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    width: 35%;
  }
}
.navbar-mobile--translate {
  transform: translateX(0);
}
.container-close {
  position: absolute;
  top: 0;
  right: 0;
}
.icon-close {
  font-size: 3rem;
}
@media (hover: hover) {
  .icon-close:hover {
    cursor: pointer;
    border: 1px solid var(--white);
  }
}
.menu--mobile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu__item {
  margin-bottom: 2.5em;
}
.menu__item:last-of-type {
  margin-bottom: 0;
}
.link {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 0.2em;
}
@media (hover: hover) {
  .link:hover {
    cursor: pointer;
    font-weight: 700;
  }
}
.link--active {
  font-weight: 700;
  border-bottom: 2px solid var(--white);
}
.main {
  padding: 1em;
}
@media screen and (min-width: 768px) {
  .main {
    min-height: 80vh;
    width: calc(95% - 1rem);
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .row {
    width: 100%;
    display: flex;
  }
  .column {
    flex-basis: calc(50% - 1px);
  }
  .column-centered {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.content {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .content {
    max-width: 100%;
    margin: 0;
  }
}
.content__title {
  font-size: 3.8rem;
  font-family: "Lora", serif;
  margin-top: 0.8em;
}
.content__text {
  width: 25rem;
  height: 8.5rem;
  font-size: 1.4rem;
  color: var(--graylighter);
  padding-right: 2em;
  margin-bottom: 2em;
}
.content__link {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 2em;
}
@media screen and (min-width: 1200px) {
  .content__title {
    font-size: 4.8rem;
    margin-bottom: 0.5em;
  }
  .content__text {
    width: 42rem;
    font-size: 2.4rem;
    padding-right: 0;
    margin-bottom: 3em;
  }
  .content__link {
    width: 15rem;
    font-size: 1.8rem;
    margin: 0;
  }
}

.design-sample {
  position: relative;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .design-sample {
    max-width: 800px;
    margin: 0;
  }
}
.profile {
  position: absolute;
  bottom: -5em;
  right: 1em;
  max-width: 300px;
  padding: 0.5em 1em;
  background-color: var(--background);
  border: 1px solid var(--shadow);
  box-shadow: 0 4px 4px var(--shadow);
}
@media screen and (min-width: 340px) {
  .profile {
    bottom: -8.8em;
  }
}
@media screen and (min-width: 768px) {
  .profile {
    width: 420px;
  }
}
.photo-container {
  width: 62px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__content {
  display: flex;
  align-items: center;
}
.profile__photo {
  width: 36px;
  border: 1xp solid hsla(0, 0%, 77%, 1);
  border-radius: 37px;
}

.creator {
  line-height: 1.5;
  font-weight: 500;
}
.creator__name {
  font-size: 1.2rem;
  margin: 0;
}
.creator__job {
  color: var(--gray);
  margin: 0;
}

.profile__text {
  margin-top: 0.5em;
  inline-size: 21rem;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Lora", serif;
  padding-left: 0.4em;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.copyright {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--graylighter);
}
.copyright span {
  font-weight: 700;
}
@media screen and (min-width: 340px) {
  .copyright {
    font-size: 1.4rem;
  }
}
